<html>

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
  <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" ></script>

</head>
<body><div class="logo">
  <h1><img style="width:15%;float: right;margin-top: 0px;" src="../assets/../assets/images/logo.PNG"> Actualités du Coronavirus au Maroc</h1>
</div>
<div class="header">
  <h1>Coronavirus.</h1>
  <p>L'évolution de la pandémie au Maroc</p>

</div>
<div class="navbar">


        <a>Dernière vérification :{{this.statistique_maroc.Date}}</a>

        <a style="align-content:right">Source : Ministère de la santé - covidmaroc</a>




</div>
<div class="row">
  <div class="side">
   <h1>Comprendre le Covid-19</h1>
   <div>
  <img style="width:100%" src="../assets/images/corona.jpg">

</div>
    <h2>L'ORIGINE DU VIRUS</h2>
    <h3>Le COVID-19, un nouveau coronavirus</h3>
    <p>Le virus identifié en janvier 2020 en Chine est un nouveau coronavirus, nommé SARS-CoV-2. La maladie provoquée par ce coronavirus a été nommée COVID-19 par l’Organisation mondiale de la Santé - OMS. Depuis le 11 mars 2020, l’OMS qualifie la situation mondiale du COVID-19 de pandémie ; c’est-à-dire que l’épidémie est désormais mondiale.</p>
    <p>Les coronavirus sont une famille de virus qui provoquent des maladies allant d’un simple rhume (certains virus saisonniers sont des coronavirus) à des pathologies plus sévères (comme les détresses respiratoires du MERS, du SRAS ou du COVID-19).</p>
    <p>Le COVID-19 est dangereux pour les raisons suivantes :</p>
<p>il est très contagieux : chaque personne infectée va contaminer au moins 3 personnes en l'absence de mesures de protection ;   </p>
<p>une personne contaminée mais qui ne ressent pas encore de symptômes peut contaminer d’autres personnes.</p>
<h4>Les symptômes</h4>
    <p>Le COVID-19 peut se manifester par :</p>
<p>- la fièvre ou la sensation de fièvre (frissons, chaud-froid) ;
la toux ;</p>
<p>- des maux de tête, courbatures, une fatigue inhabituelle ;
une perte brutale de l’odorat (sans obstruction nasale), une disparition totale du goût, ou une diarrhée ;</p><p>
- dans les formes plus graves : difficultés respiratoires pouvant mener jusqu’à une hospitalisation en réanimation voire au décès.</p>
   <h4>La transmission</h4>
    <p>La maladie se transmet par ce qu’on appelle les gouttelettes : il s’agit de sécrétions invisibles qui sont projetées lors d’une discussion, d’éternuements ou en toussant. Les postillons correspondent aux gouttelettes visibles, mais la plupart des gouttelettes ne le sont pas.</p>
<p>La maladie se transmet par ce qu’on appelle les gouttelettes : il s’agit de sécrétions invisibles qui sont projetées lors d’une discussion, d’éternuements ou en toussant. Les postillons correspondent aux gouttelettes visibles, mais la plupart des gouttelettes ne le sont pas.</p>
<p>Le contact avec des mains non lavées ou des surfaces souillées par des gouttelettes est également à risque de contamination.</p>
<p>La maladie se transmet :</p>
<p>- par projection de gouttelettes (comme les postillons) contaminées par une personne porteuse : en toussant, éternuant ou en cas de contacts étroits en l’absence de mesures de protection (distance physique, mesures barrières, port du masque). Les gouttelettes contaminées sont inhalées par la personne saine, et déclenchent la maladie</p>
<p>- par contact direct physique (poignée de main, accolade, bise...) entre une personne porteuse et une personne saine. Le virus est ensuite transmis à la personne saine quand elle porte ses mains à la bouche.</p>
<p>- par contact indirect, via des objets ou surfaces contaminées par une personne porteuse. Le virus est ensuite transmis à une personne saine qui manipule ces objets, quand elle porte ses mains à la bouche.</p>
<p>La meilleure des protections : les mesures barrières et les mesures de distanciation physique.</p>
<h1>Luttons ensemble contre le Covid-19</h1>
<div>
  <img style="width:90%; border-radius: 5px;border: 3px solid #ddd;" src="../assets/images/pr.png">

</div>
<p>En l’absence de traitement, la meilleure des protections pour vous et pour vos proches est, en permanence, le respect des mesures barrières et de la distanciation physique. En complément, portez un masque quand la distance d’un mètre ne peut pas être respectée.</p>
<h1>Restez chez vous</h1>
<div>
  <img style="width:100%" src="../assets/images/stay.png">

</div>
<p>Face à la propagation du coronavirus, le mot d'ordre est clair: «restez chez vous!», a exigé le ministre de l'Intérieur. Concrètement, toutes les personnes qui circuleront devront être en mesure de justifier leur déplacement. Les déplacements tolérés sont ceux entre domicile et travail quand c'est absolument nécessaire, pour aller faire ses courses, pour raison de santé ou encore pour motif familial impérieux ou l'assistance de personnes vulnérables. Des déplacements brefs à proximité du domicile seront également tolérés. Les citoyens pourront toujours pratiquer une activité physique ou sortir son chien mais chacun devra le faire avec parcimonie. Des contrôles fixes et aléatoires seront opérés aussi sur les réseaux de transport.</p>
<h1>Coronavirus : le confinement modifie le mouvement de la terre</h1>
<p>Dans le monde entier, les rues des villes sont vides car les gens restent à l'intérieur en raison du verrouillage des coronavirus.</p>
<div>
  <img style="width:100%" src="../assets/images/conf.jpeg">

</div>
<h3>Tant de gens restent chez eux que la Terre tremble moins</h3>
<p>Des milliards de personnes dans le monde entier restent chez elles à cause de la pandémie de coronavirus.</p>
<p>Le nombre de confinés est tellement important qu'en en fait cela change la façon dont la Terre se déplace.</p>
<p>En raison du confinement, il y a moins de déplacements pour le travail ou les loisirs sur les routes ou par rail, et de nombreuses industries lourdes ont fermé boutique.</p>
<p>En fait, nous sommes si nombreux à en faire moins de mouvement que cela a réduit les vibrations de la croûte terrestre.</p>
<p>C'est assez étonnant si l'on considère que notre planète pèse six milliards de billions de tonnes.</p>
<h3>Des chutes spectaculaires</h3>
<p>Les scientifiques de l'Observatoire royal de Belgique ont été les premiers à remarquer la baisse, en disant que "les mouvements du sol à des fréquences de 1-20 Hz [plus profondes que le son d'une contrebasse, semblable à un grand orgue] sont beaucoup plus faibles depuis la mise en place des mesures de confinement par le gouvernement".</p>
<p>Les changements ont été remarqués dans d'autres endroits du monde également.</p>
<p>Des sismologues au Népal ont constaté une baisse d'activité, un ouvrier de l'Institut de physique de la Terre de Paris a déclaré que la réduction dans la capitale française était "spectaculaire", et une recherche de l'université Cal Tech aux États-Unis a décrit la baisse à Los Angeles comme "sérieusement sauvage".</p>
<p>La chute spectaculaire de l'activité sismique au Népal peut être observée dans ce graphique.</p>
<h3>Un air plus pur, des mers plus calmes</h3>
<p>Ce n'est pas la seule façon dont le coronavirus - en affectant notre mode de vie - change le monde naturel.</p>
<p>Les satellites ont détecté une diminution du dioxyde d'azote, gaz polluant émis par les voitures, les camions, les bus et les centrales électriques.</p>
<p>Les épidémies de coronavirus sur plusieurs navires de croisière signifient que presque toute la flotte mondiale est désormais à quai, ce qui rend les océans sensiblement plus calmes.</p>
<div>
  <img style="width:100%" src="../assets/images/mer.jpg">

</div>
<p>Le monde est aussi plus calme.</p>
<p>Les scientifiques qui mesurent uniquement le bruit de fond quotidien de nos villes et ceux qui étudient la profondeur des océans ont constaté une baisse des niveaux sonores.</p>
<h3>Des signaux plus clairs</h3>
<p>Les nouvelles recherches sismologiques ne signifient pas que la Terre a complètement cessé de trembler, mais la différence n'est pas seulement perceptible pour les scientifiques - elle est aussi utile.</p>
<p>L'activité humaine est comme un bruit de fond qui rend plus difficile l'écoute de ce que la Terre fait naturellement.</p>
<p>La croûte terrestre peut avoir jusqu'à 70 km d'épaisseur, mais elle tremble toujours à cause de ce que nous faisons.</p>
<div>
  <img style="width:100%" src="../assets/images/terre.jpg">

</div>
<p>"Vous obtiendrez un signal avec moins de bruit au sommet, ce qui vous permettra d'extraire un peu plus d'informations de ces événements", explique le sismologue Andy Frassetto sur le site web des Incorporated Research Institutions for Seismology à Washington.</p>
<p>Certains chercheurs ont même réussi à déterminer avec précision la cause de la baisse dans leur région.</p>
<p>Stephen Hicks, qui travaille à l'Imperial College de Londres, attribue cette baisse à la diminution du trafic sur la M4 - une autoroute qui relie Londres au Pays de Galles.</p>
<p>"Il semble assez clair que ces derniers jours, l'augmentation du niveau de bruit à l'aube est beaucoup moins forte que ces dernières semaines", a-t-il écrit sur Twitter.</p>
<p>Je suppose que cela est dû à une heure de pointe matinale beaucoup plus faible - moins de gens qui font la navette et pas de course d'école".</p>
<th>Changements saisonniers</th>
<p>Ces changements ne sont pas sans précédent.</p>
<p>Comme on peut s'y attendre, l'activité humaine varie normalement au cours de chaque jour et de chaque année, car les gens sont moins actifs à certaines périodes.</p>
<p>La nuit est plus calme que le jour et les baisses ont lieu aux alentours des grandes fêtes et festivals.</p>
<p>Mais ce qui se passe dans le monde entier est une réduction de l'activité qui dure des semaines, voire des mois, et qui n'est normalement observée que brièvement à Noël dans les pays chrétiens.</p>
<h1 >Wiqaytna</h1><br>
<div>
  <img style="width:100%" src="../assets/images/wq.jpg">

</div><br>
<p>Wiqaytna est une application marocaine gratuite de notification d’exposition au Coronavirus « COVID-19 ».</p>
<p>Elle permet de notifier son utilisateur si un autre utilisateur qui se trouvait à proximité durant les 21 derniers jours est confirmé positif au « COVID-19 ».
L’application s’inscrit dans la stratégie nationale de lutte contre la pandémie du Coronavirus « COVID-19 ».</p>
<h1 >Comment Wiqaytna nous aide à nous protéger ?</h1>
<div class="row">
    <div class="card">
    <img src="../assets/images/11.PNG"  style="width:70%;">
      <div class="container">
      <h2>Protégez-vous</h2>
        <p class="title">Si vous avez été à proximité d'une personne confirmée positive au « COVID-19 », vous serez notifiés et pris en charge rapidement.</p>
      </div>
    </div>

    <div class="card">
    <img src="../assets/images/22.PNG"  style="width:70%;">
      <div class="container">
        <h2>Protégez vos proches</h2>
        <p class="title">Étant notifié rapidement, vous éviterez de contaminer vos proches,amis et collaborateurs.</p>
      </div>
    </div>
    <div class="card">
    <img src="../assets/images/33.PNG" style="width:70%;">
      <div class="container">
        <h2>Protégez votre pays</h2>
        <p class="title">En se protégeant mutuellement nous limiterons la propagation du virus.</p>
      </div>
    </div>
  </div>

  </div>


  <div class="main">
    <div class="row">
  <div class="side">

    <div>
  <img style="width:100%" src="../assets/images/images.jpg">

</div><br><div style="width:100%;border-style: solid; border-color: white;">
    <h2>Le bilan du {{this.statistique_maroc.Date}}</h2>
    <div style="box-sizing: border-box;"><div class="row">

            <div class="col-xl-4 col-md-6 mb-4">
              <div class="card shadow h-100 py-2"  style="background-color: #b90b29">
                <div class="card-body" >
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-white text-uppercase mb-1" style="padding: 0px; margin-bottom:5px;">Cas confirmés</div>
                      <div class="h1 mb-0 font-weight-bold text-white ">{{this.statistique_maroc.Confirmed}}<img src="../assets/images/1.PNG" style="width:25%;margin-left: 90px;"></div>
                    </div>
                    <div class="col-auto">
                      <i class="fas  mt-3  fa-medkit  fa-2x text-white-50" ></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xl-4 col-md-6 mb-4">
              <div class="card shadow h-100 py-2"  style="background-color: #f79400">
                <div class="card-body" >
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-white text-uppercase mb-1" style="padding: 0px;">Cas actifs actuels</div>
                      <div class="h1 mb-0 font-weight-bold text-white ">{{this.statistique_maroc.Active}}<img src="../assets/images/2.PNG" style="width:30%;margin-left: 90px;"></div>
                    </div>
                    <div class="col-auto">
                      <i class="fas  mt-3  fa-bed  fa-2x text-white-50" ></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <div class="col-xl-4 col-md-6 mb-4">
              <div class="card shadow h-100 py-2" style="background-color:#1faaff">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-white text-uppercase mb-1"style="padding: 0px;">Cas exclus suite à un résultat négatif</div>
                      <div class="row no-gutters align-items-center">
                        <div class="col-auto">
                          <div class="h1 mb-0 mr-3 font-weight-bold text-white">

                          479873<img src="../assets/images/3.PNG" style="width:20%; margin-left: 50px; align-self: right;"></div>
                        </div>

                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas  mt-3  fa-clipboard-list fa-2x text-white-50"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>


                       <div class="col-xl-4 col-md-6 mb-4">
                          <div class="card shadow h-100 py-2"  style="background-color: #0da785">
                            <div class="card-body">
                              <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                  <div class="text-xs font-weight-bold text-white text-uppercase mb-1"style="padding: 0px;">Guéris</div>
                                  <div class="h1 mb-0 font-weight-bold text-white">{{this.statistique_maroc.Recovered}}<img src="../assets/images/4.PNG" style="width:25%;margin-left: 90px;"></div>
                                </div>
                                <div class="col-auto">
                                  <i class="fas   mt-3 fa-heart fa-2x text-white-50"></i>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

            <div class="col-xl-4 col-md-6 mb-4">
              <div class="card bg-gray-600 shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-grey text-uppercase mb-1"style="padding: 0px;">Décès</div>
                      <div class="h1 mb-0 font-weight-bold text-grey">{{this.statistique_maroc.Deaths}}<img src="../assets/images/5.png" style="width:100px; height:50px;margin-left: 90px;"></div>
                    </div>
                    <div class="col-auto">
                      <i class="fas  mt-3  fa-user fa-2x text-white-50"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>


 <div class="col-xl-4 col-md-6 mb-4 mx-auto">
              <div class="card shadow h-100 py-2 " style="background:#0b73b9">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-white text-uppercase mb-1"style="padding:0%;">Total nombre de dépistages</div>
                      <div class="h1 mb-0 font-weight-bold text-white">488947<img src="../assets/images/6.PNG" style="width:25%;margin-left: 35px;align-self:right;"></div>
                    </div>
                    <div class="col-auto">
                      <i class="fas mt-3  fa-microscope fa-2x text-white-50"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div></div>
          </div>

   <div class="div">
    <h2>Répartition des cas du Coronavirus par Région</h2>
    <div><label>Recherche
    	<input  type="search" style="width: 100%" class="form-control" placeholder="" id="myInput" ng-model="test">
    </label>
    <table id="myTable">
                  <thead>
                    <tr>
                      <th>Région</th>
                      <th>Total des cas</th>

                      <th class="text-center">en 24h</th>


                    </tr>
                  </thead>

                  <tbody>

                  <tr *ngFor="let pro of this.province">
                    <td class="font-weight-bold">{{pro.attributes.RegionFr}}​​</td>
                    <td align="center">{{pro.attributes.Cases}}</td>
                    <td class="text-center"><span class="badge badge-danger">{{pro.attributes.diff}}</span></td>
                  </tr>
                   </tbody>
                 <tfoot>
    <tr>
      <td  colspan="3" align="center">Source : Ministère de la santé - covid maroc</td>

    </tr>
  </tfoot>
                </table>
    </div></div>
    <!-- Area Chart -->
            <div class="col-md-12 col-xl-12 col-lg-12 ">
              <div class="card shadow mb-4">

                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h1> L’évolution de la pandémie du coronavirus par jour au Maroc</h1>

                </div>

                <div class="card-body" style="padding-left: 0.25rem; padding-right: 0.25rem;">
                  <div class="chart-area" style="min-height:400px; max-height:500px" >
                    <canvas id="mychart" class="col-md-12 col-xl-12 col-lg-12 "></canvas>

                  </div>
                  <div class="navbar">
                  <a>Le décompte total du jour est calculé sur une journée (de 00h00 à 23h59)</a>
                </div>
                </div>
              </div>
            </div>




       <!-- Area Chart -->
<div class="col-md-12 col-xl-12 col-lg-12">
  <div class="card shadow mb-4">

    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
      <h1>Statistiques des tests de dépistage du Covid-19</h1>
    </div>

    <div class="card-body" style="padding-left: 0.25rem; padding-right: 0.25rem;">
      <div class="chart-area" style="min-height:400px">
        <canvas id="mycharttwo" class="col-md-12 col-xl-12 col-lg-12 "></canvas>

      </div>

      <div class="navbar">
      <a>Le décompte total du jour est calculé sur une journée (de 00h00 à 23h59)</a>
</div>
    </div>
  </div>
</div>
  <!-- End Area Chart --><div class="div">
    <h2>Classification des préfectures et provinces selon les deux zones d’assouplissement des restrictions</h2>
    <div>

    <table id="zones">
                  <thead>
                    <tr>
                      <th>Préfectures et provinces</th>
                      <th>Zone</th>


                    </tr>
                  </thead>

                  <tbody>


  <tr *ngFor="let zone of this.zones">
    <td>{{zone.province}}</td>
    <td align="center"><h5><span *ngIf="zone.zone==1" class="badge-success">Zone {{zone.zone}}</span><span *ngIf="zone.zone==2" class="badge-danger">Zone {{zone.zone}}</span></h5></td>
  </tr>

                   </tbody>
                 <tfoot>
  </tfoot>
                </table>
    </div></div>

    <div class="about-section">
  <h1>A propos de nous</h1>
  <p>Notre équipe est composée de 3 élèves ingénieurs en informatique qui partagent des méthodologies et des valeurs communes, tout en apportant une expertise spécifique et personnelle aux projets qu’ils accompagnent.</p>
  </div>
<div class="about-section">
<h1 style="text-align:center">Notre équipe</h1>
<div class="row">
  <div class="column">
    <div class="card">
    <img src="../assets/images/sara.jfif" alt="Sara" style="width:70%; border: 3px solid #ddd; border-radius: 5px;">
      <div class="container">
    <h2>Sara Amadir</h2>
        <p class="title">Elève ingénieur en informatique</p>
        <p>sara.amadir01@gmail.com</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
    <img src="../assets/images/salim.jpg" alt="Salim" style="width:73%; border: 3px solid #ddd; border-radius: 5px;">
      <div class="container">
      <h2 >Salim Elazhari</h2>
        <p class="title">Elève ingénieur en informatique</p>
        <p>salim.elazhari@gmail.com</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
    <img src="../assets/images/majd.png" alt="Majd" style="width:70%; border: 3px solid #ddd; border-radius: 5px;">
      <div class="container">
      <h2>Majd Chagroufi</h2>
        <p class="title">Elève ingénieur en informatique</p>
        <p>majdchagroufi@gmail.com</p>

      </div>
    </div>
  </div>
</div></div>

<br><div class="footer">
 <footer class="sticky-footer bg-grey">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Actualités Coronavirus au Maroc 2020</span>

          </div>
        </div>
      </footer>
</div>





