
<div class="logo">
  <h1><img style="width:15%;float: right;margin-top: 0px;" src="../assets/../assets/images/logo.PNG"> Actualités du Coronavirus au Maroc</h1>
</div>
<div class="header">
  <h1>Coronavirus.</h1>
  <p>L'évolution de la pandémie au Maroc</p>

</div>
<div class="navbar">


        <a>Dernière vérification :{{this.statistique_maroc.Date.slice(0,10)}}</a>

        <a style="align-content:right">Source : Ministère de la santé - covidmaroc</a>




</div><div></div>
<div class="row" >
  <div class="side">
   <h1>Comprendre le Covid-19</h1>
   <div>
  <img style="width:100%" src="../assets/images/corona.jpg">

</div>
    <h2>L'ORIGINE DU VIRUS</h2>
    <h3>Le COVID-19, un nouveau coronavirus</h3>
    <p>Le virus identifié en janvier 2020 en Chine est un nouveau coronavirus, nommé SARS-CoV-2. La maladie provoquée par ce coronavirus a été nommée COVID-19 par l’Organisation mondiale de la Santé - OMS. Depuis le 11 mars 2020, l’OMS qualifie la situation mondiale du COVID-19 de pandémie ; c’est-à-dire que l’épidémie est désormais mondiale.</p>
    <p>Les coronavirus sont une famille de virus qui provoquent des maladies allant d’un simple rhume (certains virus saisonniers sont des coronavirus) à des pathologies plus sévères (comme les détresses respiratoires du MERS, du SRAS ou du COVID-19).</p>
    <p>Le COVID-19 est dangereux pour les raisons suivantes :</p>
<p>il est très contagieux : chaque personne infectée va contaminer au moins 3 personnes en l'absence de mesures de protection ;   </p>
<p>une personne contaminée mais qui ne ressent pas encore de symptômes peut contaminer d’autres personnes.</p>
<h4>Les symptômes</h4>
    <p>Le COVID-19 peut se manifester par :</p>
<p>- la fièvre ou la sensation de fièvre (frissons, chaud-froid) ;
la toux ;</p>
<p>- des maux de tête, courbatures, une fatigue inhabituelle ;
une perte brutale de l’odorat (sans obstruction nasale), une disparition totale du goût, ou une diarrhée ;</p><p>
- dans les formes plus graves : difficultés respiratoires pouvant mener jusqu’à une hospitalisation en réanimation voire au décès.</p>
   <h4>La transmission</h4>
    <p>La maladie se transmet par ce qu’on appelle les gouttelettes : il s’agit de sécrétions invisibles qui sont projetées lors d’une discussion, d’éternuements ou en toussant. Les postillons correspondent aux gouttelettes visibles, mais la plupart des gouttelettes ne le sont pas.</p>
<p>La maladie se transmet par ce qu’on appelle les gouttelettes : il s’agit de sécrétions invisibles qui sont projetées lors d’une discussion, d’éternuements ou en toussant. Les postillons correspondent aux gouttelettes visibles, mais la plupart des gouttelettes ne le sont pas.</p>
<p>Le contact avec des mains non lavées ou des surfaces souillées par des gouttelettes est également à risque de contamination.</p>
<p>La maladie se transmet :</p>
<p>- par projection de gouttelettes (comme les postillons) contaminées par une personne porteuse : en toussant, éternuant ou en cas de contacts étroits en l’absence de mesures de protection (distance physique, mesures barrières, port du masque). Les gouttelettes contaminées sont inhalées par la personne saine, et déclenchent la maladie</p>
<p>- par contact direct physique (poignée de main, accolade, bise...) entre une personne porteuse et une personne saine. Le virus est ensuite transmis à la personne saine quand elle porte ses mains à la bouche.</p>
<p>- par contact indirect, via des objets ou surfaces contaminées par une personne porteuse. Le virus est ensuite transmis à une personne saine qui manipule ces objets, quand elle porte ses mains à la bouche.</p>
<p>La meilleure des protections : les mesures barrières et les mesures de distanciation physique.</p>
<h1>Luttons ensemble contre le Covid-19</h1>
<div>
  <img style="width:90%; border-radius: 5px;border: 3px solid #ddd;" src="../assets/images/pr.png">

</div>
<p>En l’absence de traitement, la meilleure des protections pour vous et pour vos proches est, en permanence, le respect des mesures barrières et de la distanciation physique. En complément, portez un masque quand la distance d’un mètre ne peut pas être respectée.</p>
<h1>Restez chez vous</h1>
<div>
  <img style="width:100%" src="../assets/images/stay.png">

</div>
<p>Face à la propagation du coronavirus, le mot d'ordre est clair: «restez chez vous!», a exigé le ministre de l'Intérieur. Concrètement, toutes les personnes qui circuleront devront être en mesure de justifier leur déplacement. Les déplacements tolérés sont ceux entre domicile et travail quand c'est absolument nécessaire, pour aller faire ses courses, pour raison de santé ou encore pour motif familial impérieux ou l'assistance de personnes vulnérables. Des déplacements brefs à proximité du domicile seront également tolérés. Les citoyens pourront toujours pratiquer une activité physique ou sortir son chien mais chacun devra le faire avec parcimonie. Des contrôles fixes et aléatoires seront opérés aussi sur les réseaux de transport.</p>
<h1>Coronavirus : le confinement modifie le mouvement de la terre</h1>
<p>Dans le monde entier, les rues des villes sont vides car les gens restent à l'intérieur en raison du verrouillage des coronavirus.</p>
<div>
  <img style="width:100%" src="../assets/images/conf.jpeg">

</div>
<h3>Tant de gens restent chez eux que la Terre tremble moins</h3>
<p>Des milliards de personnes dans le monde entier restent chez elles à cause de la pandémie de coronavirus.</p>
<p>Le nombre de confinés est tellement important qu'en en fait cela change la façon dont la Terre se déplace.</p>
<p>En raison du confinement, il y a moins de déplacements pour le travail ou les loisirs sur les routes ou par rail, et de nombreuses industries lourdes ont fermé boutique.</p>
<p>En fait, nous sommes si nombreux à en faire moins de mouvement que cela a réduit les vibrations de la croûte terrestre.</p>
<p>C'est assez étonnant si l'on considère que notre planète pèse six milliards de billions de tonnes.</p>
<h3>Des chutes spectaculaires</h3>
<p>Les scientifiques de l'Observatoire royal de Belgique ont été les premiers à remarquer la baisse, en disant que "les mouvements du sol à des fréquences de 1-20 Hz [plus profondes que le son d'une contrebasse, semblable à un grand orgue] sont beaucoup plus faibles depuis la mise en place des mesures de confinement par le gouvernement".</p>
<p>Les changements ont été remarqués dans d'autres endroits du monde également.</p>
<p>Des sismologues au Népal ont constaté une baisse d'activité, un ouvrier de l'Institut de physique de la Terre de Paris a déclaré que la réduction dans la capitale française était "spectaculaire", et une recherche de l'université Cal Tech aux États-Unis a décrit la baisse à Los Angeles comme "sérieusement sauvage".</p>
<p>La chute spectaculaire de l'activité sismique au Népal peut être observée dans ce graphique.</p>
<h3>Un air plus pur, des mers plus calmes</h3>
<p>Ce n'est pas la seule façon dont le coronavirus - en affectant notre mode de vie - change le monde naturel.</p>
<p>Les satellites ont détecté une diminution du dioxyde d'azote, gaz polluant émis par les voitures, les camions, les bus et les centrales électriques.</p>
<p>Les épidémies de coronavirus sur plusieurs navires de croisière signifient que presque toute la flotte mondiale est désormais à quai, ce qui rend les océans sensiblement plus calmes.</p>
<div>
  <img style="width:100%" src="../assets/images/mer.jpg">

</div>
<p>Le monde est aussi plus calme.</p>
<p>Les scientifiques qui mesurent uniquement le bruit de fond quotidien de nos villes et ceux qui étudient la profondeur des océans ont constaté une baisse des niveaux sonores.</p>
<h3>Des signaux plus clairs</h3>
<p>Les nouvelles recherches sismologiques ne signifient pas que la Terre a complètement cessé de trembler, mais la différence n'est pas seulement perceptible pour les scientifiques - elle est aussi utile.</p>
<p>L'activité humaine est comme un bruit de fond qui rend plus difficile l'écoute de ce que la Terre fait naturellement.</p>
<p>La croûte terrestre peut avoir jusqu'à 70 km d'épaisseur, mais elle tremble toujours à cause de ce que nous faisons.</p><br>
<div>
  <img style="width:100%" src="../assets/images/terre.jpg">

</div>
<p>"Vous obtiendrez un signal avec moins de bruit au sommet, ce qui vous permettra d'extraire un peu plus d'informations de ces événements", explique le sismologue Andy Frassetto sur le site web des Incorporated Research Institutions for Seismology à Washington.</p>
<p>Certains chercheurs ont même réussi à déterminer avec précision la cause de la baisse dans leur région.</p>
<p>Stephen Hicks, qui travaille à l'Imperial College de Londres, attribue cette baisse à la diminution du trafic sur la M4 - une autoroute qui relie Londres au Pays de Galles.</p>
<p>"Il semble assez clair que ces derniers jours, l'augmentation du niveau de bruit à l'aube est beaucoup moins forte que ces dernières semaines", a-t-il écrit sur Twitter.</p>
<p>Je suppose que cela est dû à une heure de pointe matinale beaucoup plus faible - moins de gens qui font la navette et pas de course d'école".</p>
<h3>Changements saisonniers</h3>
<p>Ces changements ne sont pas sans précédent.</p>
<p>Comme on peut s'y attendre, l'activité humaine varie normalement au cours de chaque jour et de chaque année, car les gens sont moins actifs à certaines périodes.</p>
<p>La nuit est plus calme que le jour et les baisses ont lieu aux alentours des grandes fêtes et festivals.</p>
<p>Mais ce qui se passe dans le monde entier est une réduction de l'activité qui dure des semaines, voire des mois, et qui n'est normalement observée que brièvement à Noël dans les pays chrétiens.</p>
<br><h1>Coronavirus : El Otmani salue l’élan de solidarité remarquable des Marocains</h1>
<div>
  <img style="width:100%" src="../assets/images/oth.jpg">

</div><br>
<p>Le Chef du gouvernement, Saad Dine El Otmani a salué, jeudi à Rabat, l’élan de solidarité remarquable au Maroc face à l’épidémie de coronavirus, se félicitant de la pleine adhésion de l’ensemble des composantes du peuple marocain à l’initiative du Roi Mohammed VI de créer un Fonds spécial pour la gestion de cette pandémie.</p>
<p>Lors du conseil de gouvernement, ce jeudi 19 mars, Saad Dine El Otmani a relevé « l’interaction du peuple marocain, toutes composantes et positions de responsabilité confondues avec l’Initiative Royale et l’élan de solidarité remarquable des Marocains de l’intérieur et de l’étranger, pour contribuer au fonds dès l’annonce de sa création », estimant que cette adhésion exceptionnelle reflète l’essence et les nobles valeurs du peuple marocain.</p>
<p>D’autre part, le Chef du gouvernement a souligné la nécessité de continuer à respecter les mesures de précaution annoncées au Maroc. « Ce sont des mesures importantes et nécessaires pour éviter le danger et assurer la santé de tous », a-t-il dit, appelant les citoyens à ne quitter leur domicile qu’en cas de nécessité ou pour un besoin urgent comme un traitement médical ou l’achat de médicaments, « car bien que notre pays en soit au premier stade épidémiologique, a-t-il expliqué, il n’est pas possible de prédire ce qui va se passer dans les jours et les semaines à venir ».</p><br>
<div>
  <img style="width:100%" src="../assets/images/s1.png">

</div><br>
<p>A cet égard, Saad Dine El Otmani a insisté sur la nécessité de se conformer aux mesures de précaution car « plus le comportement des citoyens est à la hauteur, plus rapide la bataille sera gagnée contre l’épidémie et son confinement dans la prochaine étape sera facile, mais en cas de violation, comme autoriser les contacts, voyager, sortir et errer dans les rues, cela mettra tout le monde en danger ».</p>
<p>Saad Dine El Otmani a mis en garde à cet égard contre tout laxisme dans la circulation et la mobilité des citoyens, et a appelé à respecter les avertissements contenus dans le dernier communiqué conjoint du ministère de l’Intérieur et de la Santé, soulignant que « le danger ne porte pas sur une personne, une famille ou un quartier résidentiel, mais il aura un impact négatif sur tout le monde tant que le virus se propage rapidement ».</p>
<p>Il a également évoqué les précautions qui doivent être respectées par tout un chacun, telles que se laver les mains régulièrement, nettoyer les chaises, les tables et les poignées de porte et de fenêtre, car elles peuvent être un vecteur de transmission du virus de même qu’il faudrait se maintenir à l’écart de toute personne qui tousse ou atteinte d’un rhume ou qui souffre d’une température élevée, et garder une distance avec les autres pour éviter la transmission.</p>
<p>D’autre part, le Chef du gouvernement a salué les professionnels de la santé, de la sûreté et de l’administration qui continuent de travailler dans une telle situation difficile, et rendu également hommage aux commerçants et vendeurs soucieux d’assurer quotidiennement aux citoyens les produits de consommation nécessaires, tout en exhortant l’ensemble des citoyens à se mobiliser afin de surmonter cette épreuve en toute sécurité.</p>

<h1>Fonds Corona: Un compte ouvert à Bank Al-maghrib pour collecter les dons</h1>
<br><div>
  <img style="width:100%" src="../assets/images/s4.jpg">

</div><br>
<p>Un compte bancaire a été ouvert à Bank Al-maghrib pour collecter les dons au profit du fonds spécial pour la gestion de la pandémie du Coronavirus « Covid-19 » », indique le ministère de l’Economie, des finances et de la réforme de l’administration. </p>

<p>Le pays a en effet connu un élan de solidarité extraordinaire pour contribuer à la lutte contre la pandémie du coronavirus. Entre organismes publics et privés, salariés et hauts fonctionnaires, la somme de 10 milliards de dirhams dont a été doté ce fonds, créé sur instruction royale, a vite été dépassée.</p>
<p>Pour recueillir davantage de dons, de personnes physiques ou morales, souhaitant contribuer à cet effort national, le compte  RIB : 001 810 00 780 002 011 062 02 21, a été spécialement ouvert à  BANK AL-MAGHRIB/RABAT, au nom du Trésorier Ministériel auprès du Ministère de l’Economie, des Finances et de la Réforme de l’Administration.</p>
<p>Les versements des dons peuvent être effectués aussi auprès des comptables publics relevant de la Trésorerie Générale du Royaume exerçant au niveau national (Trésoriers Ministériels, Trésoriers Régionaux, Trésoriers préfectoraux et provinciaux et percepteurs) ainsi qu’au niveau des agents comptables auprès des missions diplomatiques et consulaires du Maroc à l’étranger, à charge pour ces différents comptables d’en transférer les sommes ainsi perçues, au Trésorier Ministériel auprès du Ministère de l’Economie des Finances et de la Réforme de l’Administration en sa qualité de comptable assignataire dudit compte.</p>  
<h1>CORONAVIRUS: CES INITIATIVES QUI FONT DU MAROC UN SEUL HOMME CONTRE L'ÉPIDÉMIE</h1>
<br><div>
  <img style="width:100%" src="../assets/images/s3.jpg">

</div><br>
<p>Dans sa livraison du vendredi 3 avril, le journal Al Akhbar s’est intéressé aux mouvements de solidarité spontanés qui émerge à l’échelle du pays, porté par un milieu associatif actif, en ces temps de coronavirus. Plusieurs initiatives, ici et là, ont vu le jour au Maroc pour tenter de résister tant bien que mal à la progression du Covid-19 qui a pris ces derniers jours des propensions inédites.</p>
<p>La contribution de chacune des parties prend moult formes. Du côté des jeunes, un mouvement d’une ampleur nationale puise ses ressources dans un vivier inépuisable d’idées. Endossées par de jeunes ingénieurs créatifs, elles s’attaquent aux difficultés d’approvisionnement en terme de matériel médical. De nombreux jeunes bénévoles à Tanger, Rabat, Casablanca, El Jadida et Marrakech, ont employé leur savoir-faire pour fabriquer des masques de protection transparents en plastique moyennant des techniques simples, distribués gracieusement par la suite auprès des hôpitaux. Un geste très apprécié par le personnel médical et salué par les internautes sur les réseaux sociaux. </p>
<div>
  <img style="width:100%" src="../assets/images/s2.jpeg">

</div>
</div>
  <div class="main">
    <div class="row">
  <div class="side">

    <div>
  <img style="width:100%" src="../assets/images/images.jpg">

</div><br><div style="width:100%;border-style: solid; border-color: white;">
    <h2>Le bilan du {{this.statistique_maroc.Date.slice(0,10)}}</h2>
    <div style="box-sizing: border-box;"><div class="row">

            <div class="col-xl-4 col-md-6 mb-4">
              <div class="card shadow h-100 py-2"  style="background-color: #b90b29">
                <div class="card-body" >
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-white text-uppercase mb-1" >Cas confirmés</div>
                      <div class="h1 mb-0 font-weight-bold text-white ">{{this.statistique_maroc.Confirmed}}</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas  mt-3  fa-medkit  fa-2x text-white-50" ></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xl-4 col-md-6 mb-4">
              <div class="card shadow h-100 py-2"  style="background-color: #f79400">
                <div class="card-body" >
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-white text-uppercase mb-1" >Cas actifs actuels</div>
                      <div class="h1 mb-0 font-weight-bold text-white ">{{this.statistique_maroc.Active}}</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas  mt-3  fa-bed  fa-2x text-white-50" ></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <div class="col-xl-4 col-md-6 mb-4">
              <div class="card shadow h-100 py-2" style="background-color:#1faaff">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-white text-uppercase mb-1">Cas exclus suite à un résultat négatif</div>
                      <div class="row no-gutters align-items-center">
                        <div class="col-auto">
                          <div class="h1 mb-0 mr-3 font-weight-bold text-white">

                          479873</div>
                        </div>

                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas  mt-3  fa-clipboard-list fa-2x text-white-50"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>


                       <div class="col-xl-4 col-md-6 mb-4">
                          <div class="card shadow h-100 py-2"  style="background-color: #0da785">
                            <div class="card-body">
                              <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                  <div class="text-xs font-weight-bold text-white text-uppercase mb-1">Guéris</div>
                                  <div class="h1 mb-0 font-weight-bold text-white">{{this.statistique_maroc.Recovered}}</div>
                                </div>
                                <div class="col-auto">
                                  <i class="fas   mt-3 fa-heart fa-2x text-white-50"></i>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

            <div class="col-xl-4 col-md-6 mb-4">
              <div class="card bg-gray-600 shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-grey text-uppercase mb-1">Décès</div>
                      <div class="h1 mb-0 font-weight-bold text-grey">{{this.statistique_maroc.Deaths}}</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas  mt-3  fa-user fa-2x text-black-50"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>


 <div class="col-xl-4 col-md-6 mb-4 mx-auto">
              <div class="card shadow h-100 py-2 " style="background:#0b73b9">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-white text-uppercase mb-1">Total nombre de dépistages</div>
                      <div class="h1 mb-0 font-weight-bold text-white">488947</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas mt-3  fa-microscope fa-2x text-white-50"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div></div>
          </div>

   <div class="div">
    <h2>Répartition des cas du Coronavirus par Région</h2>
    <div>
    <table id="myTable">
                  <thead>
                    <tr>
                      <th>Région</th>
                      <th>Total des cas</th>

                      <th class="text-center">en 24h</th>


                    </tr>
                  </thead>

                  <tbody>

                  <tr *ngFor="let pro of this.province">
                    <td class="font-weight-bold">{{pro.attributes.RegionFr}}​​</td>
                    <td >{{pro.attributes.Cases}}</td>
                    <td class="text-center"><span *ngIf="pro.attributes.diff != 0" class="badge badge-danger">{{pro.attributes.diff}}</span></td>
                  </tr>
                   </tbody>
                 <tfoot>
    <tr>
      <td  colspan="3" >Source : Ministère de la santé - covid maroc</td>

    </tr>
  </tfoot>
                </table>
    </div></div>
    <!-- Area Chart -->
            <div class="col-md-12 col-xl-12 col-lg-12 ">
              <div class="card shadow mb-4">

                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h1> L’évolution de la pandémie du coronavirus par jour au Maroc</h1>

                </div>

                <div class="card-body" style="padding-left: 0.25rem; padding-right: 0.25rem;">
                  <div class="chart-area" style="min-height:400px; max-height:500px" >
                    <canvas id="mychart" class="col-md-12 col-xl-12 col-lg-12 "></canvas>

                  </div>
                  <div class="navbar">
                  <a>Le décompte total du jour est calculé sur une journée (de 00h00 à 23h59)</a>
                </div>
                </div>
              </div>
            </div>




       <!-- Area Chart -->
<div class="col-md-12 col-xl-12 col-lg-12">
  <div class="card shadow mb-4">

    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
      <h1>Statistiques des tests de dépistage du Covid-19</h1>
    </div>

    <div class="card-body" style="padding-left: 0.25rem; padding-right: 0.25rem;">
      <div class="chart-area" style="min-height:400px">
        <canvas id="mycharttwo" class="col-md-12 col-xl-12 col-lg-12 "></canvas>

      </div>

      <div class="navbar">
      <a>Le décompte total du jour est calculé sur une journée (de 00h00 à 23h59)</a>
</div>
    </div>
  </div>
</div>
  <!-- End Area Chart --><div class="div">
    <h2>Classification des préfectures et provinces selon les deux zones d’assouplissement des restrictions</h2>
    <div>

    <table id="zones">
                  <thead>
                    <tr>
                      <th>Préfectures et provinces</th>
                      <th>Zone</th>


                    </tr>
                  </thead>

                  <tbody>


  <tr *ngFor="let zone of this.zones">
    <td>{{zone.province}}</td>
    <td >
      <h5>
        <span *ngIf="zone.zone==1" class="badge-success" style="padding: 5px;">Zone {{zone.zone}}</span>
        <span *ngIf="zone.zone==2" class="badge-danger" style="padding: 5px;">Zone {{zone.zone}}</span>
      </h5>
    </td>
  </tr>

                   </tbody>
                 <tfoot>
  </tfoot>
                </table>
    </div></div><br>
    <div><div class="row">
  
    <div class="card">
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
    <h1 >Wiqaytna</h1></div>
<div style="padding: 15px;">
  <img style="width:100%" src="../assets/images/wq.jpg">

<br>
<p> «La technologie de traçage a été vite prise à revers par la société civile dans différents pays et a donné lieu à un débat très vif en raison des risques qu’il peut faire peser sur les libertés et les droits fondamentaux»</p>
<p>Wiqaytna est une application marocaine gratuite de notification d’exposition au Coronavirus « COVID-19 ».</p>
<p>Elle permet de notifier son utilisateur si un autre utilisateur qui se trouvait à proximité durant les 21 derniers jours est confirmé positif au « COVID-19 ».
L’application s’inscrit dans la stratégie nationale de lutte contre la pandémie du Coronavirus « COVID-19 ».</p></div></div>
<div class="row">
  
    <div class="card">
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between"><h1 >Comment Wiqaytna nous aide à nous protéger ?</h1></div>
    <img src="../assets/images/111.PNG"  style="width:100%;">
      </div>
  </div>
<div class="row">
  
    <div class="card">
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
  <h1 >Comment Wiqaytna nous aidera à combattre la propagation du virus ?</h1></div>
    <img src="../assets/images/222.PNG"  style="width:100%;">
      
  </div>
  <div class="row">
  
    <div class="card">
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
  <h1 >Comment Wiqaytna nous aidera à combattre la propagation du virus ?</h1></div><div style="padding: 15px;">
    <p>Wiqaytna est basée sur une approche collaborative où les appareils utilisant l’application enregistrent une rencontre lorsqu’ils sont à proximité les uns des autres. L’application échange des signaux Bluetooth avec les téléphones d’autres utilisateurs qui se trouvent à proximité de vous. À chaque rencontre un code unique aléatoire et anonyme est enregistré. Ces échanges restent sur votre téléphone.</p>
<p>Cela vous permet d’être informé par la suite si vous étiez à proximité physique prolongée avec une personne infectée.</p>
<p>Les données Bluetooth (durée de la connexion) sont stockées uniquement sur votre téléphone pour une durée de 21 jours glissants. Au-delà des 21 derniers jours, les données seront automatiquement supprimées.
Si un utilisateur est confirmé positif au « COVID-19 », les codes anonymes échangés des personnes qui se seraient trouvées à proximité de lui seront récupérés pour pouvoir notifier les autres utilisateurs exposés.</p>
<p>En aucun cas, l’identité de la personne contaminée, le lieu de la rencontre et l’heure de la rencontre ne sont révélés.</p>
  </div>
  <div class="card-footer py-3 d-flex flex-row align-items-center justify-content-between" style="float: center;">
    <a href="https://www.wiqaytna.ma/Default_Fr.aspx?gclid=EAIaIQobChMIxsLClIGU6gIVwYSyCh1YXgLnEAAYASAAEgJ-wfD_BwE" target="_blank"><button class="button button1">En savoir plus</button></a>
      <a href="https://play.google.com/store/apps/details?id=covid.trace.morocco&fbclid=IwAR37E485Whby3FlxPzFvEuLzqwAOoXjuZNPvpSvHN8y1VFD5sqe6bSvSMVk" target="_blank"><button class="button button1">Télécharger l'application</button></a></div>
      </div>
      
  </div>

 <div class="card">
    <div class="about-section">
  <h1>A propos de nous</h1>
  <p>Notre équipe est composée de 3 élèves ingénieurs en informatique qui partagent des méthodologies et des valeurs communes, tout en apportant une expertise spécifique et personnelle aux projets qu’ils accompagnent.</p>
  </div></div>
<div class="about-section">
<h1 style="text-align:center">Notre équipe</h1>
<div class="row">
  <div class="column">
    <div class="card">
    <img src="../assets/images/sara.jfif" alt="Sara" style="width:70%; border: 3px solid #ddd; border-radius: 5px;">
      <div class="container">
    <h2>Sara Amadir</h2>
        <p class="title">Elève ingénieur en informatique</p>
        <p>sara.amadir01@gmail.com</p>
        <a href="https://www.linkedin.com/in/sara-amadir-5640401a4/" target="_blank"> <img src="../assets/images/lk.png" style="width:70%;"></a>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
    <img src="../assets/images/salim.jpg" alt="Salim" style="width:73%; border: 3px solid #ddd; border-radius: 5px;">
      <div class="container">
      <h2 >Salim Elazhari</h2>
        <p class="title">Elève ingénieur en informatique</p>
        <p>salim.elazhari@gmail.com</p>
        <a href="https://www.linkedin.com/in/elazhari-salim/" target="_blank"><img src="../assets/images/lk.png" style="width:70%;"></a>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
    <img src="../assets/images/majd.png" alt="Majd" style="width:70%; border: 3px solid #ddd; border-radius: 5px;">
      <div class="container">
      <h2>Majd Chagroufi</h2>
        <p class="title">Elève ingénieur en informatique</p>
        <p>majdchagroufi@gmail.com</p>
        <a href="https://www.linkedin.com/in/majdchagroufi/" target="_blank"><img src="../assets/images/lk.png" style="width:70%;"></a>
      </div>
    </div>
  </div>
</div>

<br><div class="footer">
 <footer class="sticky-footer bg-grey">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Actualités Coronavirus au Maroc 2020</span>

          </div>
        </div>
      </footer>
</div>
</div>
</div>
</div>
</div>





